// #####################################################
//  Header
// #####################################################

@import "../../lib/main"

.header
    display: flex
    align-items: center
    justify-content: space-between
    padding: 2vw
    height: 150px

.logo
    margin: 0